.header {
  position: fixed;
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .header .nav {
    background: linear-gradient(to top, grey, white);
    position: fixed;
    top: 0px;
    width: 100%;
    grid-area: nav; }
    .header .nav .logo {
      width: 100px;
      padding: 10px; }
    .header .nav .titulo {
      font-size: 2.2rem; }
    .header .nav .navListaP {
      height: auto;
      margin: auto;
      list-style-type: none; }
      .header .nav .navListaP .pag {
        margin: 5px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header .nav .navListaP .pag .opcion {
          padding: 10px;
          font-size: 1.2rem;
          color: black;
          text-decoration: none; }
          .header .nav .navListaP .pag .opcion:hover {
            background-color: black;
            color: white;
            border-radius: 10%; }
        .header .nav .navListaP .pag .dropdown-menu {
          background-color: #e2e2e2; }
          .header .nav .navListaP .pag .dropdown-menu .dropdown-item:hover {
            background-color: black;
            color: #e2e2e2; }

.main {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  grid-area: main;
  animation: transitionIn 0.75s; }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg); }
  to {
    opacity: 1;
    transform: rotateX(0); } }
  .main section {
    margin-top: 150px;
    margin: auto; }
    .main section .subtitulo {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-decoration: underline;
      padding: 30px 60px;
      text-align: center; }
    .main section .foto {
      width: 100%;
      border-radius: 1%; }
    .main section .info {
      padding: 20px;
      font-style: italic;
      font-size: 1.2rem;
      line-height: 2rem; }
    .main section .tablaPrimero {
      width: 600px;
      height: auto; }
      .main section .tablaPrimero th {
        height: 50px;
        width: 200px;
        text-align: center;
        background-color: beige; }
      .main section .tablaPrimero td {
        height: 50px;
        text-align: center; }
    .main section .tablaSegundo {
      width: 600px;
      height: auto; }
      .main section .tablaSegundo th {
        height: 50px;
        width: 200px;
        text-align: center;
        background-color: rgba(232, 232, 183, 0.859); }
      .main section .tablaSegundo td {
        height: 50px;
        text-align: center; }
    .main section .tablaTercero {
      width: 600px;
      height: auto; }
      .main section .tablaTercero th {
        height: 50px;
        width: 200px;
        text-align: center;
        background-color: rgba(214, 214, 176, 0.71); }
      .main section .tablaTercero td {
        height: 50px;
        text-align: center; }
    .main section .formulariot {
      padding: 30px 0;
      text-align: center; }
    .main section fieldset {
      background-color: #e2e2e2;
      margin: auto;
      padding: 30px;
      line-height: 1.2rem; }
      .main section fieldset legend {
        text-align: center;
        padding: 20px;
        text-decoration: underline; }
      .main section fieldset div {
        padding: 15px; }
        .main section fieldset div .boton {
          padding: 5px; }

.footer {
  width: 100%;
  height: 50px;
  background-color: grey;
  grid-area: footer; }
  .footer .contRedes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none; }
    .footer .contRedes .redes {
      padding: 0px 30px;
      padding-top: 6px; }
      .footer .contRedes .redes .redesIcon {
        width: 40px;
        border-radius: 5px; }

@media screen and (max-width: 576px) {
  .header .nav {
    top: 0px;
    height: auto; }
    .header .nav .logo {
      width: 50px;
      padding: 8px; }
    .header .nav .titulo {
      font-size: 1rem; }
    .header .nav .navListaP .pag {
      margin: auto;
      width: 35px; }
      .header .nav .navListaP .pag .opcion {
        font-size: 1rem; }
  .main {
    margin-top: 50px; }
    .main section .subtitulo {
      font-size: 1rem;
      padding-bottom: 10px; }
    .main section .info {
      font-size: 0.6rem;
      padding-top: 10px; }
    .main section .tablaPrimero {
      width: 250px;
      height: 130px; }
    .main section .tablaSegundo {
      width: 250px;
      height: 130px; }
    .main section .tablaTercero {
      width: 250px;
      height: 130px; }
  .footer {
    height: 25px; }
    .footer .contRedes {
      padding-left: 0px; }
      .footer .contRedes .redes {
        padding: 10px;
        padding-top: 0px; }
        .footer .contRedes .redes .redesIcon {
          width: 15px;
          border-radius: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  background-color: rgba(238, 238, 238, 0.762);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
