

@media screen and (max-width: 576px){
    .nav{
       top: 0px;
       height: auto;
     
        .logo{
        width: 50px;
        padding: 8px;
        }
        .titulo{
        font-size: 1rem;
        }
        .pag{
        width: 35px;

            .opcion{
            font-size: 0.5rem;
            }
        } 
    }
     
    .main{
     padding-top: 120px;

        .subtitulo{
        font-size: 1rem;
        padding-bottom: 10px;
        }
        .info{
        font-size: 0.6rem;
        padding-top: 10px;
        }
        table{
        width: 250px;
        margin: auto;
        }
    }
}   