

@media screen and (max-width: 576px){
    .header{
        .nav{
            top: 0px;
            height: auto;
     
            .logo{
                width: 50px;
                padding: 8px;
            }
            .titulo{
                font-size: 1rem;
            }
            .navListaP{
                .pag{
                    margin: auto;
                    width: 35px;

                    .opcion{
                        font-size: 1rem;
                    }
                }
            } 
        }
            
    }
    
    @mixin tamanio {
        width: 250px;
        height: 130px;
        
    }
    .main{
        margin-top: 50px;

        section{
            .subtitulo{
                font-size: 1rem;
                padding-bottom: 10px;
            }
            .info{
                font-size: 0.6rem;
                padding-top: 10px;
            }
            .tablaPrimero{
                @include tamanio
            }
            .tablaSegundo{
                @include tamanio
            }
            .tablaTercero{
                @include tamanio
            }
        }
    }

    .footer{
        height: 25px;

        .contRedes{
            padding-left: 0px;

            .redes{
                padding: 10px;
                padding-top: 0px;

                .redesIcon{
                    width: 15px;
                    border-radius: 5px;
                }
            }
        }
    }
}   